# Exclude Node modules

node_modules

# Exclude Next.js build output

.next

# Exclude development files

.git
.gitignore
.eslintrc.json
.prettierrc
README.md

# Exclude environment files

.env\*.local

# Exclude log files

\*.log

# Exclude OS files

.DS_Store

# Exclude editor directories

.vscode
.idea

# Exclude test directories

**tests**
test
tests

# Exclude npm debug logs

npm-debug.log*
yarn-debug.log*
yarn-error.log\*

# Exclude Docker files

Dockerfile
.dockerignore

# Exclude local development files

\*.local
